<!-- Main -->
<div class="wrapper style2">
    <div class="title">Sobre Nosotros</div>
    <div id="main" class="container">
        <a href="#" class="image banner">
            <img src="images/aboutUs.jpg" alt="" />
        </a>
        <div class="row" style="width: 90%; margin: 0 auto;">
            <div class="12u 12u(mobile)">
                <section>
                    <p align="justify">PsycheTéch está conformado por un dúo altamente capacitado y profesional en las áreas de psicología y tecnología, con un gran bagaje de experiencias laborales ganadas en poco tiempo, encontrándose en constante crecimiento para brindar un mejor servicio a todas aquellas personas que vean en PsycheTéch un medio para alcanzar el conocimiento y una herramienta para lograr sus metas. A continuación te presentamos las personas que conforman este sueño:</p>
                </section>
            </div>
            <div class="6u">
                <section class="highlight">
                    <a href="#/" class="image featured"><img src="images/pic09.jpg" alt=""/></a>
                    <br>
                    <h1 style="text-align: center;font-size: 30px;">Vanessa Melissa Pedrero Lizcano</h1>
                    <p align="center">Soy una persona emprendedora, activa, creativa y optimista en constante búsqueda del conocimiento, con facilidad para el aprendizaje, responsable y comprometida con lo que hago</p>
                    <ul style="text-align:center;">
                        <li>Profesional en Psicología</li>
                        <li>Egresada de La Corporación Universitaria Iberoamericana</li>
                        <li>Experiencia de 1 año en el área Educativa.</li>
                    </ul>
                    <ul class="actions" style="text-align:center; ">
                        <li><a href="https://www.linkedin.com/in/vanessa-melissa-pedrero-lizcano-412903152/" target="_blank" class="button style3">Saber más</a></li>
                    </ul>
                </section>
            </div>
            <div class="6u">
                <section class="highlight">
                    <a href="#/" class="image featured"><img src="images/pic09.jpg" alt=""/></a>
                    <br>
                    <h1 style="text-align: center;font-size: 30px;">Franklyn Lombana Molina</h1>
                    <p align="center">Soy un apasionado por la tecnología, en especial por el desarrollo de aplicaciones web y móviles, me gusta aprender y estar al tanto de los cambios constantes en el mundo de las TI</p>
                    <ul style="text-align:center;">
                        <li>Ingeniero de Sistemas</li>
                        <li>Egresado de La Universidad de Cundinamarca</li>
                        <li>Experiencia de 3 años en el desarrollo de aplicaciones web y móviles.</li>
                    </ul>
                    <ul class="actions" style="text-align:center;">
                        <li><a href="https://www.linkedin.com/in/franklynlm/" target="_blank" class="button style3">Saber más</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>
