<body class="left-sidebar">
    <div id="page-wrapper">
        <!-- Header -->
        <div id="header-wrapper" class="wrapper">
            <div id="header">
                <!-- Logo -->
                <div id="logo">
                	<img src="images/icon.png">
                    <h1><a href="#/">PsycheTech</a></h1>
                    <p>Pysocología y Tecnología lo que no sabias</p>
                </div>
                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="#/">Home</a></li>
                        <li class="current"><a href="#/blog">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Main -->
        <div class="wrapper style2">
            <div class="title">Blog</div>
            <div id="main" class="container">
                <div class="10u 12u(mobile) important(mobile)" style="margin: 0 auto;">
                    <!-- Content -->
                    <div id="content">
                        <div class="row">
                            <div class="6u 12u(mobile)">
                                <section style="text-align: center;">
                                    <h2 class="orange">ORIGEN MITOLÓGICO DE LA PSIQUE O EL "ALMA"</h2>
                                    <br>
                                    <img class="imgBlogs" src="images/imagesBlog1/b01.jpg">
                                    <p align="justify">Descubré el origen mitológico del alma, Todo inicio gracias a un escritor Romano de nombre Apuleyo, el cuál creo un mito sobre una hermosa chica ...</p>
                                    <a href="#/blog/psyche" class="button style1">Leer Más</a>
                                </section>
                            </div>
                            <div class="6u 12u(mobile)">
                                <section style="text-align: center;">
                                    <h2 class="orange">DISTINTOS ORIGENES DEL ESTUDÍO DE LA PSICOLOGÍA</h2>
                                    <br>
                                    <img class="imgBlogs" src="images/imagesBlog2/1.jpg">
                                    <p align="justify">¿Sabías que el nombre "Psicología" no es lo que parece?, En Grecia el significado de la Psique se dío al aire frío o última exhalación que cada ser humano tiene al momento de morir ...</p>
                                    <a href="#/blog/psyche" class="button style1">Leer Más</a>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>