<script>
  fbq('track', 'ViewContent');
</script>

<div class="wrapper style2">
    <div class="title">PsychéTech</div>
    <div id="main" class="container">
        <div class="row 150%">
            <div class="12u" style="text-align: center;">
                <a href="#/blog" class="button style3 big">Ver todos nuestros blogs</a>
            </div>
            <div class="8u 12u(mobile) important(mobile)">
                <!-- Content -->
                <div id="content" style="padding-right: 40px; padding-left: 40px;">
                    <div ng-if="!status.response" class="loader"></div>
                    <div ng-if="!status.err" compile="article.content"></div>
                    <div ng-if="status.err">
                        <p align="justify" style="color: #f27474">Ups! no hemos podido encontrar el blog que estas buscando, siempre puedes escribirnos en nuestro formulario de contacto</p>
                    </div>
                </div>
                <div class="qualification">
                    <h3 class="style1"> Si te ha gustado dejenos un like o escribenos un comentario !</h3>
                    <a class="icon fa-heart" ng-click="like()" href="" style="color: #f27474;"> {{article.qualification.likes}}</a> &nbsp;
                    <a class="icon fa-comments" href="" style="color: #f7ab4d;"> {{article.qualification.comments.length}} </a>
                    <h3 class="style1"> Comparte este blog en facebook!</h3>
                    <div>
                        <div class="fb-like" data-href="{{share}}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
                        <div style="text-align: center;"><a href="" ng-click="sharer()" type="button" class="icon fa-facebook-square btnFb">  Compartir</a></div>
                    </div>
                    <div style="margin-top: 30px;" class="fb-comments" data-href="{{share}}" data-width="500" data-numposts="5"></div>
                </div>

            </div>
            <div class="4u 12u(mobile) important(mobile)">
                <header>
                    <h2 align="center" style="color: #f27474">Tal vez también te pueda interesar</h2>
                </header>
                <div id="sidebar">
                    <div ng-repeat="article in articles">
                        <div compile="article.shortView.content"></div>
                        <div style="text-align: center;"><a href="#/blogs/{{article.name}}" class="button style1">Leer Más</a></div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper style3">
    <div class="title">Comentarios</div>
    <div class="row">
        <div class="12u">
            <h1 class="style1" align="center"> Dejanos tu comentario </h1>
            <div ng-if="!isAuth" style="text-align: center;"><a href="" ng-click="checkLoginState()" type="button" class="icon fa-facebook-square btnFb">  Ingresar usando Facebook</a></div>
        </div>
        <div class="infoUser" ng-show="user">
            <a href="" class="image"><img src="{{user.picture.data.url}}" alt=""></a>
            <p>Escribir como {{user.name}}</p>
            <div ng-if="isAuth" style="text-align: center;"><a href="" ng-click="logout()" type="button" class="icon fa-facebook-square btnFb">  Salir de Facebook</a></div>
        </div>
        <div id="commentArea" class="12u">
            <div class="row">
                <div class="8u" style="margin: 0 auto; float: none;">
                    <form>
                        <textarea style="background: white;" name="message" ng-model="quali.comment" id="contact-message" placeholder="Déjanos saber tu opinión" rows="4" required></textarea>
                    </form>
                </div>
            </div>
        </div>
        <div class="12u btnSend" style="margin-bottom: 40px;">
            <button class="button style1" ng-click="sendComment()">Enviar</button>
        </div>
        <div class="8u" style="float: none;margin: 0 auto;">
            <header class="style1">
                <h2>Comentarios</h2>
            </header>
            <div ng-show="comments.length === 0">
                <p align="justify" style="color: #f27474">Aún no tenemos ningún comentarion :(</p>
            </div>
            <article ng-show="comments.length > 0" class="box post-excerpt" ng-repeat="comment in comments" style="color: #484d55;">
                <a href="#" class="image left"><img src="{{comment.picture}}" alt=""></a>
                <h3><a href="">{{comment.userName}}</a></h3> <span>{{comment.createAt | date : "medium"}}</span>
                <p align="justify" class="comment">{{comment.comment}}</p>
                <hr>
            </article>
        </div>
    </div>
</div>