<div class="wrapper style2">
    <div class="title">PsychéTech</div>
    <div id="main" class="container">
        <div class="row">
            <div class="8u 12u(mobile) important(mobile)">
                <!-- Content -->
                <div id="content" style="padding-right: 40px; padding-left: 40px;">
                    <div ng-if="!status.response" class="loader"></div>
                    <div ng-if="!status.err" compile="article.content"></div>
                    <div ng-if="status.err">
                        <p align="justify" style="color: #f27474">Ups! no hemos podido encontrar el blog que estas buscando, siempre puedes escribirnos en nuestro formulario de contacto</p>
                    </div>
                </div>
            </div>
            <div class="4u 12u(mobile) important(mobile)">
                <h2 align="center" style="color: #f27474">Tal vez también te pueda interesar</h2>
                <div ng-repeat="article in articles">
                    <div compile="article.shortView.content"></div>
                    <div style="text-align: center;"><a href="#/blogs/{{article.name}}" class="button style1">Leer Más</a></div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>