<body class="homepage">
    <div id="page-wrapper">
        <!-- Header -->
        <div id="header-wrapper" class="wrapper">
            <div id="header">
                <!-- Logo -->
                <div id="logo">
                	<img src="images/icon.png">
                    <h1><a href="#/">PsychéTech</a></h1>
                    <p>Pysocología y Tecnología lo que no sabías</p>
                </div>
                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li class="current"><a href="#/">Home</a></li>
                        <li>
                            <a href="#/blog">Blog</a>
                            <!--<ul>
											<li><a href="#">Lorem ipsum</a></li>
											<li><a href="#">Magna veroeros</a></li>
											<li><a href="#">Etiam nisl</a></li>
											<li>
												<a href="#">Sed consequat</a>
												<ul>
													<li><a href="#">Lorem dolor</a></li>
													<li><a href="#">Amet consequat</a></li>
													<li><a href="#">Magna phasellus</a></li>
													<li><a href="#">Etiam nisl</a></li>
													<li><a href="#">Sed feugiat</a></li>
												</ul>
											</li>
											<li><a href="#">Nisl tempus</a></li>
										</ul>-->
                        </li>
                        <!--<li><a href="left-sidebar.html">Left Sidebar</a></li>
										<li><a href="right-sidebar.html">Right Sidebar</a></li>
										<li><a href="no-sidebar.html">No Sidebar</a></li>
									-->
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Intro -->
        <div id="intro-wrapper" class="wrapper style1">
            <div class="title">¿Qué es?</div>
            <section id="intro" class="container">
                <p class="style1"><i>Aquí encontrarás todo lo que necesitas saber sobre</i> </p>
                <p class="style2">
                    Como funciona tu mente y cuerpo,
                    <br class="mobile-hide" /> tips y herramientas que seguro te ayudarán
                </p>
                <p class="style3">Lee todos nuestros blogs y enterate de todo lo que aún no sabes</p>
                <ul class="actions">
                    <li><a href="#/blog" class="button style3 big">Blog</a></li>
                </ul>
            </section>
        </div>
        <!-- Main -->
        <div class="wrapper style2">
            <div class="title">Algo más</div>
            <div id="main" class="container">
                <div class="row" style="width: 90%; margin: 0 auto;">
                    <div class="6u 12u(mobile)">
                        <section>
                            <h3 class="icon fa-diamond" align="center" style="color: #ee9a2f"> Misión</h3>
                            <p align="justify" style="color: black">Somos profesionales que buscamos mostrar datos de interés sobre las áreas de la Psicología y la Tecnología, informando a todo tipo de personas que deseen comprender este nuevo mundo tecnológico con influencias psicológicas y del impacto que conllevan en sus vidas diarias.</p>
                        </section>
                    </div>
                    <div class="6u 12u(mobile)">
                        <section>
                            <h3 class="icon fa-diamond" align="center" style="color: #ee9a2f"> Visión</h3>
                            <p align="justify" style="color: black">Buscamos ser una herramienta innovadora elegida por la veracidad de la información, siendo reconocidos por ser el lugar donde puedas encontrar todos los datos sobre psicología y tecnología.</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <!-- Highlights -->
        <div class="wrapper style1">
            <div class="title">Algunos de nuestros proyectos</div>
            <div id="highlights" class="container">
                <div class="row 150%">
                    <div class="6u 12u(mobile)">
                        <section class="highlight">
                            <a href="#/" class="image featured"><img src="images/p01.png" alt="" /></a>
                            <h3><a href="#/">Aplicación Móvil - Comunicación Asertiva</a></h3>
                            <p>Una app que brindar una herramienta que valla de la mano con el profesional en Psicología para abordar de formas más pertinentes la comunicación asertiva</p>
                            <ul class="actions">
                                <li><a href="https://play.google.com/store/apps/details?id=com.franklynDev.comunicacionAsertiva" target="_blank" class="button style3">Descargar</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="6u 12u(mobile)">
                        <section class="highlight">
                            <a href="#/" class="image featured"><img src="images/p02.png" alt="" /></a>
                            <h3><a href="#/">Aplicación Móvil - Solución de Problemas</a></h3>
                            <p>Es una herramienta didáctica que permite al profesional en Psicología clínica abordar de forma más pertinente y creativa las habilidades de afrontamiento y solución de problemas</p>
                            <ul class="actions">
                                <li><a href="https://play.google.com/store/apps/details?id=com.devjs.soluciondeproblemas&hl=es" class="button style3">Descargar</a></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
</body>