<article class="box post">
    <h2 align="center" style="color: #ee9a2f"> ¿CÓMO PODEMOS APRENDER NUEVAS FORMAS DE ACTUAR?</h2>
    <p>El sentirnos bien cuando nos halagan o  cuando en clases nos proporcionan una nota alta por algún trabajo realizado  se llama “Reforzamiento Positivo” lo que esto causa en nosotros es que nos volvamos a comportar como lo hicimos anteriormente, para volver a recibir la misma recompensa.</p>
    <a href="#" class="image featured">
                                                <img src="images/imagesBlog3/1.jpg" alt="">
                                            </a>
    <br>
    <p>También aprendemos a comportarnos con las demás personas viendo un ejemplo a seguir, este puede ser tanto bueno como malo, lo que hace es ver que otra persona realiza cierto comportamiento y obtiene una consecuencia agradable, por ende, al yo querer la misma consecuencia realizaré el mismo comportamiento, esto se llama “Aprendizaje Observacional”. </p>
    <a href="#" class="image featured">
                                                <img src="images/imagesBlog3/2.jpg" alt="">
                                            </a>
    <br>
    <p>Al proponernos lograr una meta o cumplir algún reto, antes de enfrentar el hecho, se debe visualizar mentalmente el logro de la situación, esto permite que se pueda llegar a prever momentos adversos y nos ayuda a darnos seguridad y confianza del poder alcanzar la meta propuesta, y ese proceso es llamado “Expectativas Cognitivas”.</p>
    <a href="#" class="image featured">
                                                <img src="images/imagesBlog3/3.jpeg" alt="">
                                            </a>
    <br>
    <p>También aprendemos nuevas formas de actuar a través del tan llamado “Aprendizaje Instruccional” es llamada así a las situaciones en las que nos dan indicaciones para hacer algo, y el hecho de repetirlo varias veces causa que aprendamos a hacerlo.</p>
    <a href="#" class="image featured">
                                                <img src="images/imagesBlog3/4.jpg" alt="">
                                            </a>
    <br>
    <p>Por ultimo, encontramos el “Aprendizaje vicario” o la coloquialmente llamada “Escuela de la Vida” esto en realidad hace referencia a cuando aprendemos a hacer las cosas porque aprendemos de nuestras experiencias de “Ensayo y Error”.</p>
    <a href="#" class="image featured">
                                                <img src="images/imagesBlog3/5.png" alt="">
                                            </a>
</article>
