<section style="text-align: center;">
    <h2 class="orange">¿CÓMO PODEMOS APRENDER NUEVAS FORMAS DE ACTUAR?</h2>
    <br>
    <img class="imgBlogs" src="images/imagesBlog3/0.jpg">
    <p align="justify">Sabías que iniciar, sostener y finalizar  una conversación, aunque parezca algo fácil e innato en las personas, no es tan sencillo como parece y además de tras de sí hay toda una serie de procesos que aunque desconocemos los realizamos, es por ello que el día de hoy te traemos las Habilidades Sociales, mas específicamente los modelos de adquisición; es decir; como aprendemos a interactuar con los otros.</p>
</section>
