<body class="left-sidebar">
    <div id="page-wrapper">
        <!-- Header -->
        <div id="header-wrapper" class="wrapper">
            <div id="header">
                <!-- Logo -->
                <div id="logo">
                	<img src="images/icon.png">
                    <h1><a href="#/">PsycheTech</a></h1>
                    <p>Pysocología y Tecnología lo que no sabias</p>
                </div>
                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="#/">Home</a></li>
                        <li class="current"><a href="#/blog">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Main -->
        <div class="wrapper style2">
            <div class="title">PsychéTech</div>
            <div id="main" class="container">
                <div class="10u 12u(mobile) important(mobile)" style="margin: 0 auto">
                    <!-- Content -->
                    <div id="content">
                        <article class="box post">
                            <h2 align="center" style="color: #ee9a2f"> DISTINTOS ORÍGENES DEL ESTUDIO DE LA PSICOLOGÍA</h2>
                            <p>En Grecia el significado de la Psique se dio al aire frio o ultima exhalación que cada ser humano tiene al momento de morir, era como si algo abandonara el cuerpo en forma de mariposa y que esa sería el alma.</p>
                            <a href="#" class="image featured">
												<img src="images/imagesBlog2/1.jpg" alt="" />
											</a>
                                            <br>
                            <p>Pero también al vocablo [Psico] (Alma)se le agrego una terminación [Logia] la cuál es (el estudio de) y ambas nos brindan una información donde la psicología es el estudio del alma. </p>
                            <a href="#" class="image featured">
												<img src="images/imagesBlog2/2.jpg" alt="" />
											</a>
                                            <br>
                            <p>En los siguientes años la Psicología traslado su estudio del “Alma” por el estudio de la mente ya que se encontró que la glándula pineal ubicada en el epitálamo cerca del centro del cerebro se activa con comportamientos como el yoga o rezar, de ahí se inicio su estudio.</p>
                            <a href="#" class="image featured">
												<img src="images/imagesBlog2/3.jpeg" alt="" />
											</a>
                                            <br>
                            <p>A la mente también se le acuño el nombre de Tabula Raza por Jhon Locke quien argumenta que al nacer no se tiene entendimiento alguno sobre algo en especifico y a medida que el infante explora su entorno y crea nuevos conocimientos, aquella tabula raza comienza a contener información.</p>
                            <a href="#" class="image featured">
												<img src="images/imagesBlog2/4.jpg" alt="" />
											</a>
                                            <br>
                            <p>Por otro lado también a la mente se ha denominado como “La Caja Negra”; más específicamente en el conductismo ya que entre el estimulo y la respuesta existe una serie de procesos “No” observables como los sentimientos, deseos, emociones y pensamientos, fue por ellos que se le acuño dicho termino ya que la entrada a la caja son los estímulos que pasan por una “modificación” dentro del contenido de la caja negra dando como resultado una respuesta a la conducta.</p>
                            <a href="#" class="image featured">
												<img src="images/imagesBlog2/5.png" alt="" />
											</a>
                            				
										</article>
									</div>


							</div>
						</div>
					</div>
    </div>
</body>
