<body class="left-sidebar">
    <div id="page-wrapper">
        <!-- Header -->
        <div id="header-wrapper" class="wrapper">
            <div id="header">
                <!-- Logo -->
                <div id="logo">
                	<img src="images/icon.png">
                    <h1><a href="#/">PsycheTech</a></h1>
                    <p>Pysocología y Tecnología lo que no sabias</p>
                </div>
                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="#/">Home</a></li>
                        <li class="current"><a href="#/blog">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Main -->
        <div class="wrapper style2">
            <div class="title">PsychéTech</div>
            <div id="main" class="container">
                <div class="10u 12u(mobile) important(mobile)" style="margin: 0 auto">
                    <!-- Content -->
                    <div id="content">
                        <article class="box post">
                            <h2 align="center" style="color: #ee9a2f"> ORIGEN MITOLÓGICO DE LA PSIQUE O EL "ALMA"</h2>
                            <p>Todo inicio gracias a un escritor Romano de nombre Apuleyo</p>
                            <a href="#" class="image featured">
												<img src="images/imagesBlog1/b01.jpg" alt="" />
											</a>
                            <p>El cuál creo un mito sobre una hermosa chica la menor de sus hermanas</p>
                            <a href="#" class="image featured">
												<img src="images/imagesBlog1/b02.jpg" alt="" />
											</a>
                            <p>de la cual Afrodita sintió celos</p>
                            <a href="#" class="image featured">
												<img src="images/imagesBlog1/b03.jpg" alt="" />
											</a>
                            <p>Entonces Afrodita le ordenó a su Hijo Cupido que hiciese a Psique desdichada al enamorarla del hombre más horrible y ruin de la tierra, pero Cupido se enamoró de Psique</p>
                            <a href="#" class="image featured">
												<img src="images/imagesBlog1/b04.jpg" alt="" />
											</a>
                            <p>Cupido se llevó a Psique y aunque ella no conocía su rostro se enamoró de él y todas las noches se amaban, hasta que Psique extrañó a sus hermanas y le pidio a su amado que le dejara visitarlas y por más que este le advirtió de la envidia, ella no le hizo caso</p>
                            <a href="#" class="image featured">
												<img src="images/imagesBlog1/b05.jpg" alt="" />
											</a>
                            <p>Al no poderles explicar a sus hermanas como era su esposo, estas la incitaron a que en la noche con una lampara espiara el rostro de su amado para así descubrir quién era él.</p>
                            <a href="#" class="image featured">
												<img src="images/imagesBlog1/b06.jpg" alt="" />
											</a>
                            <p>Pero él se despierta y triste por la traición de Psique decide irse, ella arrepentida pide ayuda a Afrodita para que le regrese a Cupido, así que ella la obliga a realizar cuatro tareas mortales, siendo la ultima la de ir al infierno y conseguir de Perséfone un poco de su belleza y guardarlo dentro de una caja,</p>
                            <a href="#" class="image featured">
												<img src="images/imagesBlog1/b07.jpg" alt="" />
											</a>
                            <p>Psique acepta y va al infierno siempre guiada por una vos que cuidaban sus pasos, engaña a cerbero y paga a Caronte el viaje, consigue lo que desea y regresa del infierno, entonces, decide tomar un poco de la belleza que era para Afrodita y así Cupido le amaría eternamente, pero esa belleza no era para mortales y cae muerta!, entonces Cupido ruega a Afrodita y a Zeus y estos la hacen inmortal</p>
                            <a href="#" class="image featured">
												<img src="images/imagesBlog1/b08.jpg" alt="" />
											
										</article>
									</div>


							</div>
						</div>
					</div>
    </div>
</body>